<div>
<h1> <%= @alert_trigger.quote.coin.name %> Notification </h1>

<h4> <%= @alert_trigger.message %> </h4>

<h4> To see the last price of <%= @alert_trigger.quote.coin.name %> go to our site :)</h4>
<h4> The trigger price was <%= @trigger_price %>USD at <%= @trigger_time%> UTC time  </h4>

</div>
