<h1>New Hodlschedule</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.hodlschedule_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.hodlschedule_path(@conn, :index) %></span>
